SecureDesk/Connected Services/UserAccountService/UserAccountService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SecureDesk_WCF_Service.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SecureDesk_WCF_Service.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="accessPIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateOfBirth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateOfRegistration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="questionAnswered" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="questionSelected" type="xs:int" />
      <xs:element minOccurs="0" name="salt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="verified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>