SecureDesk/Connected Services/DocumentService/DocumentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DocumentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IDocumentService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63532/ServiceClass/DocumentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63532/ServiceClass/DocumentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63532/ServiceClass/DocumentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SecureDesk_WCF_Service.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDocumentService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_connectToFirebase_InputMessage">
    <wsdl:part name="parameters" element="tns:connectToFirebase" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_connectToFirebase_OutputMessage">
    <wsdl:part name="parameters" element="tns:connectToFirebaseResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_uploadDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:uploadDocument" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_uploadDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:uploadDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_addDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:addDocument" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_addDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:addDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_getAllDocumnetData_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllDocumnetData" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_getAllDocumnetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllDocumnetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_deleteDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteDocument" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_deleteDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="IDocumentService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentService/DoWork" message="tns:IDocumentService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentService/DoWorkResponse" message="tns:IDocumentService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="connectToFirebase">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentService/connectToFirebase" message="tns:IDocumentService_connectToFirebase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentService/connectToFirebaseResponse" message="tns:IDocumentService_connectToFirebase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="uploadDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentService/uploadDocument" message="tns:IDocumentService_uploadDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentService/uploadDocumentResponse" message="tns:IDocumentService_uploadDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentService/addDocument" message="tns:IDocumentService_addDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentService/addDocumentResponse" message="tns:IDocumentService_addDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllDocumnetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentService/getAllDocumnetData" message="tns:IDocumentService_getAllDocumnetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentService/getAllDocumnetDataResponse" message="tns:IDocumentService_getAllDocumnetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentService/deleteDocument" message="tns:IDocumentService_deleteDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentService/deleteDocumentResponse" message="tns:IDocumentService_deleteDocument_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDocumentService" type="tns:IDocumentService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IDocumentService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IDocumentService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="connectToFirebase">
      <soap:operation soapAction="http://tempuri.org/IDocumentService/connectToFirebase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadDocument">
      <soap:operation soapAction="http://tempuri.org/IDocumentService/uploadDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDocument">
      <soap:operation soapAction="http://tempuri.org/IDocumentService/addDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllDocumnetData">
      <soap:operation soapAction="http://tempuri.org/IDocumentService/getAllDocumnetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteDocument">
      <soap:operation soapAction="http://tempuri.org/IDocumentService/deleteDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentService">
    <wsdl:port name="BasicHttpBinding_IDocumentService" binding="tns:BasicHttpBinding_IDocumentService">
      <soap:address location="http://localhost:63532/ServiceClass/DocumentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>