SecureDesk/Connected Services/SharingService/SharingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SecureDesk_WCF_Service.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SecureDesk_WCF_Service.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DocumentData">
    <xs:sequence>
      <xs:element minOccurs="0" name="fileLink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sharedBy" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentData" nillable="true" type="tns:DocumentData" />
  <xs:complexType name="ArrayOfSharedDocumentData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SharedDocumentData" nillable="true" type="tns:SharedDocumentData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSharedDocumentData" nillable="true" type="tns:ArrayOfSharedDocumentData" />
  <xs:complexType name="SharedDocumentData">
    <xs:sequence>
      <xs:element minOccurs="0" name="fileLink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sharedBy" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SharedDocumentData" nillable="true" type="tns:SharedDocumentData" />
</xs:schema>