SecureDesk/Connected Services/DiaryService/PersonalDiary.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonalDiary" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IPersonalDiary_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BasicHttpsBinding_IPersonalDiary_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webappsecuredesk.azurewebsites.net/ServiceClass/PersonalDiary.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webappsecuredesk.azurewebsites.net/ServiceClass/PersonalDiary.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webappsecuredesk.azurewebsites.net/ServiceClass/PersonalDiary.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SecureDesk_WCF_Service.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonalDiary_connectToFirebase_InputMessage">
    <wsdl:part name="parameters" element="tns:connectToFirebase" />
  </wsdl:message>
  <wsdl:message name="IPersonalDiary_connectToFirebase_OutputMessage">
    <wsdl:part name="parameters" element="tns:connectToFirebaseResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonalDiary_UploadDayThought_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadDayThought" />
  </wsdl:message>
  <wsdl:message name="IPersonalDiary_UploadDayThought_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadDayThoughtResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonalDiary_addDiary_InputMessage">
    <wsdl:part name="parameters" element="tns:addDiary" />
  </wsdl:message>
  <wsdl:message name="IPersonalDiary_addDiary_OutputMessage">
    <wsdl:part name="parameters" element="tns:addDiaryResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonalDiary_getDiary_InputMessage">
    <wsdl:part name="parameters" element="tns:getDiary" />
  </wsdl:message>
  <wsdl:message name="IPersonalDiary_getDiary_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDiaryResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonalDiary_getDiaryDocumentCount_InputMessage">
    <wsdl:part name="parameters" element="tns:getDiaryDocumentCount" />
  </wsdl:message>
  <wsdl:message name="IPersonalDiary_getDiaryDocumentCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDiaryDocumentCountResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonalDiary_getAllDiaryData_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllDiaryData" />
  </wsdl:message>
  <wsdl:message name="IPersonalDiary_getAllDiaryData_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllDiaryDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonalDiary">
    <wsdl:operation name="connectToFirebase">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonalDiary/connectToFirebase" message="tns:IPersonalDiary_connectToFirebase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonalDiary/connectToFirebaseResponse" message="tns:IPersonalDiary_connectToFirebase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadDayThought">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonalDiary/UploadDayThought" message="tns:IPersonalDiary_UploadDayThought_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonalDiary/UploadDayThoughtResponse" message="tns:IPersonalDiary_UploadDayThought_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addDiary">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonalDiary/addDiary" message="tns:IPersonalDiary_addDiary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonalDiary/addDiaryResponse" message="tns:IPersonalDiary_addDiary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDiary">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonalDiary/getDiary" message="tns:IPersonalDiary_getDiary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonalDiary/getDiaryResponse" message="tns:IPersonalDiary_getDiary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDiaryDocumentCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonalDiary/getDiaryDocumentCount" message="tns:IPersonalDiary_getDiaryDocumentCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonalDiary/getDiaryDocumentCountResponse" message="tns:IPersonalDiary_getDiaryDocumentCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllDiaryData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonalDiary/getAllDiaryData" message="tns:IPersonalDiary_getAllDiaryData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonalDiary/getAllDiaryDataResponse" message="tns:IPersonalDiary_getAllDiaryData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPersonalDiary" type="tns:IPersonalDiary">
    <wsp:PolicyReference URI="#BasicHttpBinding_IPersonalDiary_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="connectToFirebase">
      <soap:operation soapAction="http://tempuri.org/IPersonalDiary/connectToFirebase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadDayThought">
      <soap:operation soapAction="http://tempuri.org/IPersonalDiary/UploadDayThought" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDiary">
      <soap:operation soapAction="http://tempuri.org/IPersonalDiary/addDiary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDiary">
      <soap:operation soapAction="http://tempuri.org/IPersonalDiary/getDiary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDiaryDocumentCount">
      <soap:operation soapAction="http://tempuri.org/IPersonalDiary/getDiaryDocumentCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllDiaryData">
      <soap:operation soapAction="http://tempuri.org/IPersonalDiary/getAllDiaryData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IPersonalDiary" type="tns:IPersonalDiary">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IPersonalDiary_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="connectToFirebase">
      <soap:operation soapAction="http://tempuri.org/IPersonalDiary/connectToFirebase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadDayThought">
      <soap:operation soapAction="http://tempuri.org/IPersonalDiary/UploadDayThought" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDiary">
      <soap:operation soapAction="http://tempuri.org/IPersonalDiary/addDiary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDiary">
      <soap:operation soapAction="http://tempuri.org/IPersonalDiary/getDiary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDiaryDocumentCount">
      <soap:operation soapAction="http://tempuri.org/IPersonalDiary/getDiaryDocumentCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllDiaryData">
      <soap:operation soapAction="http://tempuri.org/IPersonalDiary/getAllDiaryData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonalDiary">
    <wsdl:port name="BasicHttpBinding_IPersonalDiary" binding="tns:BasicHttpBinding_IPersonalDiary">
      <soap:address location="http://webappsecuredesk.azurewebsites.net/ServiceClass/PersonalDiary.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IPersonalDiary" binding="tns:BasicHttpsBinding_IPersonalDiary">
      <soap:address location="https://webappsecuredesk.azurewebsites.net/ServiceClass/PersonalDiary.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>