SecureDesk/Connected Services/DiaryService/PersonalDiary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SecureDesk_WCF_Service.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SecureDesk_WCF_Service.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDiaryData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DiaryData" nillable="true" type="tns:DiaryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDiaryData" nillable="true" type="tns:ArrayOfDiaryData" />
  <xs:complexType name="DiaryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fileLink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DiaryData" nillable="true" type="tns:DiaryData" />
</xs:schema>