SecureDesk/Connected Services/ClientRegistrationService/RegistrationServiceClass1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SecureDesk_WCF_Service.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SecureDesk_WCF_Service.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User_x0020_Register">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date_Of_Birth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email_Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="First_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Last_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Question_Answered" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Question_Number_Selected" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User_x0020_Register" nillable="true" type="tns:User_x0020_Register" />
</xs:schema>