SecureDesk/Connected Services/AuthenticateClient/AuthService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63532/AuthService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SecureDesk_WCF_Service.Models" />
  <xs:element name="validateLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SecureDesk_WCF_Service.Models" minOccurs="0" name="authUser" nillable="true" type="q1:User_x0020_Credentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="validateLoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>