SecureDesk/Connected Services/ClientAuthentication/AuthService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SecureDesk_WCF_Service.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SecureDesk_WCF_Service.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User_x0020_Credentials">
    <xs:sequence>
      <xs:element minOccurs="0" name="User_Auth_Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Auth_Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User_x0020_Credentials" nillable="true" type="tns:User_x0020_Credentials" />
</xs:schema>