SecureDesk/Connected Services/AccountService/AccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IAccountService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63532/ServiceClass/AccountService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63532/ServiceClass/AccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SecureDesk_WCF_Service.Models" />
      <xsd:import schemaLocation="http://localhost:63532/ServiceClass/AccountService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountService_addAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:addAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountService_addAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:addAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_addAccount_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/SecureDesk_WCF_Service.Models" name="detail" element="q1:CustomException" />
  </wsdl:message>
  <wsdl:message name="IAccountService_updateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:updateAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountService_updateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_updateAccount_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/SecureDesk_WCF_Service.Models" name="detail" element="q2:CustomException" />
  </wsdl:message>
  <wsdl:message name="IAccountService_deleteAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountService_deleteAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_deleteAccount_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/SecureDesk_WCF_Service.Models" name="detail" element="q3:CustomException" />
  </wsdl:message>
  <wsdl:message name="IAccountService_getAllAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllAccounts" />
  </wsdl:message>
  <wsdl:message name="IAccountService_getAllAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_getAllAccounts_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/SecureDesk_WCF_Service.Models" name="detail" element="q4:CustomException" />
  </wsdl:message>
  <wsdl:message name="IAccountService_requestDecryption_InputMessage">
    <wsdl:part name="parameters" element="tns:requestDecryption" />
  </wsdl:message>
  <wsdl:message name="IAccountService_requestDecryption_OutputMessage">
    <wsdl:part name="parameters" element="tns:requestDecryptionResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_requestDecryption_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/SecureDesk_WCF_Service.Models" name="detail" element="q5:CustomException" />
  </wsdl:message>
  <wsdl:portType name="IAccountService">
    <wsdl:operation name="addAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/addAccount" message="tns:IAccountService_addAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/addAccountResponse" message="tns:IAccountService_addAccount_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccountService/addAccountCustomExceptionFault" name="CustomExceptionFault" message="tns:IAccountService_addAccount_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/updateAccount" message="tns:IAccountService_updateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/updateAccountResponse" message="tns:IAccountService_updateAccount_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccountService/updateAccountCustomExceptionFault" name="CustomExceptionFault" message="tns:IAccountService_updateAccount_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/deleteAccount" message="tns:IAccountService_deleteAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/deleteAccountResponse" message="tns:IAccountService_deleteAccount_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccountService/deleteAccountCustomExceptionFault" name="CustomExceptionFault" message="tns:IAccountService_deleteAccount_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/getAllAccounts" message="tns:IAccountService_getAllAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/getAllAccountsResponse" message="tns:IAccountService_getAllAccounts_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccountService/getAllAccountsCustomExceptionFault" name="CustomExceptionFault" message="tns:IAccountService_getAllAccounts_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="requestDecryption">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/requestDecryption" message="tns:IAccountService_requestDecryption_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/requestDecryptionResponse" message="tns:IAccountService_requestDecryption_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccountService/requestDecryptionCustomExceptionFault" name="CustomExceptionFault" message="tns:IAccountService_requestDecryption_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountService" type="tns:IAccountService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IAccountService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addAccount">
      <soap:operation soapAction="http://tempuri.org/IAccountService/addAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateAccount">
      <soap:operation soapAction="http://tempuri.org/IAccountService/updateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteAccount">
      <soap:operation soapAction="http://tempuri.org/IAccountService/deleteAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllAccounts">
      <soap:operation soapAction="http://tempuri.org/IAccountService/getAllAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="requestDecryption">
      <soap:operation soapAction="http://tempuri.org/IAccountService/requestDecryption" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountService">
    <wsdl:port name="BasicHttpBinding_IAccountService" binding="tns:BasicHttpBinding_IAccountService">
      <soap:address location="http://localhost:63532/ServiceClass/AccountService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>