SecureDesk/Connected Services/AccountService/AccountService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SecureDesk_WCF_Service.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SecureDesk_WCF_Service.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserAccountData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserAccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserAccountData" nillable="true" type="tns:UserAccountData" />
  <xs:complexType name="CustomException">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorMessageToUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errorTitleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomException" nillable="true" type="tns:CustomException" />
  <xs:complexType name="ArrayOfUserAccountData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserAccountData" nillable="true" type="tns:UserAccountData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserAccountData" nillable="true" type="tns:ArrayOfUserAccountData" />
</xs:schema>