SecureDesk/Connected Services/AccountService/AccountService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63532/ServiceClass/AccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SecureDesk_WCF_Service.Models" />
  <xs:element name="addAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SecureDesk_WCF_Service.Models" minOccurs="0" name="userAccountData" nillable="true" type="q1:UserAccountData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SecureDesk_WCF_Service.Models" minOccurs="0" name="userAccountData" nillable="true" type="q2:UserAccountData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SecureDesk_WCF_Service.Models" minOccurs="0" name="userAccountData" nillable="true" type="q3:UserAccountData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAccounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email_Address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SecureDesk_WCF_Service.Models" minOccurs="0" name="getAllAccountsResult" nillable="true" type="q4:ArrayOfUserAccountData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="requestDecryption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email_Address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="requestDecryptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SecureDesk_WCF_Service.Models" minOccurs="0" name="requestDecryptionResult" nillable="true" type="q5:UserAccountData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>